html {
  -webkit-font-smoothing: antialiased;
}

.app {
  --primary-color: purple;
  overflow-x: hidden;
  padding-top: 56px;
  min-height: 100vh;
}

.right-align {
  margin-right: 0;
  margin-left: auto;
}

.center-align {
  margin-right: auto;
  margin-left: auto;
}